
  /* latin-ext */
  @font-face {
	font-family: 'Grandstander';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/jk47flns6493jhf6t4985.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  
  /* latin-ext */
  @font-face {
	font-family: 'Grandstander';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/fonts/jk47flns6493jhf6t4985.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  



:root {
  font-family: 'Grandstander';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #ff9a47;
}

main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(180deg, #c6e0fa 0%, #c9d5ff 100%);
  z-index: -1;
}

.text_listen, .text_watch, .text_read {
	position: absolute;
	animation: zoom-in-out linear forwards;
	animation-timeline: view();
}

.text_read {
	top: 10%;
	left: 10%;
}

.text_listen {
	top: 47%;
	left: 30%;
}

.text_watch {
	top: 70%;
	right: 20%;
	text-align: right;
}

.text_listen a, .text_watch a, .text_read a {
	color: #ff4749;
	font-family: "Grandstander";
	font-weight: 900;
	text-decoration: none;
	position: relative;
	perspective: 1rem;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	&:hover {
		display: block;
		transform: scale(1.2);
		
		color: #ff4749;
	}
}

.cloud1 {
	position: absolute;
	top: 5%;
	right: -15%;
	width: 20%;
	height: auto;
	animation: move 20s linear infinite;
	transform: translateZ(-80px) scale(1.8);
	z-index: 0;
}

.cloud2 {
	position: absolute;
	top: 00%;
	left: 0%;
	width: 20%;
	height: auto;
	animation: move 20s linear infinite;
	transform: translateZ(-60px) scale(1.6);
	z-index: 0;
}

.cloud3 {
	position: absolute;
	top: 20%;
	right: 40%;
	width: 20%;
	height: auto;
	z-index: -1;
	transform: translateZ(-40px) scale(1.4);
}

.girl_clouds {
	
	top: 5%;
	left: 10%;
	width: 20%;
	height: auto;
	animation: move 20s linear infinite;
	
	z-index: 0;
}

.title {
	top: 10%;
	left: 10%;
	width: 80%;
	height: auto;
	animation: move 20s linear infinite;
	
	z-index: 0;
}

.head {
	display: flex;
	gap: 5%;
	width: 80%;
	margin-top: 15%;
	margin-left:auto;
	margin-right: auto;
	transform: translateZ(20px) scale(0.8);
}

.mountains {
	display:flex;
	width: 100%;
	
	margin-top: 55%;
	z-index: 1;
	transform-style: preserve-3d;

	position:relative;
}

.mountain_left {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70%
}

.mountain_right {
	width: 50%;
	right:0;
	bottom:0;
	position: absolute;
}

.earth {
	position: relative;
	z-index: 2;
	margin-top: -35%;
	transform: translateZ(20px) scale(0.81);
}

.tree {
	position: absolute;
	bottom: 0%;
	right: 0;
	width: 30%;
	height: auto;
	z-index: 3;
	
}

.boy {
	position: absolute;
	top: 16%;
	width: 50%;
	left: 10%;
}

.earth_bottom {
	position: relative;
	z-index: 3;
	margin-top: -70%;
	transform: translateZ(35px) scale(.71);

}

.house {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: auto;
	z-index: 3;

}

.block { 
	height: 100vh;
	position: relative;
	padding: 1.5rem;
}

.read-block {
	background-color: #ff9a47;

	
}

.listen-block {
	background-color: #ff4749;
}

.watch-block {
	background-color: #ff9a47;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@keyframes zoom-in-out {
	  0% {
	transform: scale(.8);
  }
  50% {
	transform: scale(1.3);
  }
  100% {
	transform: scale(.8);
  }
	
}

@media screen and (max-width: 600px) {
    .text_listen a, .text_watch a, .text_read a {
		font-size: 1.5em;
	}

	.earth_bottom {
	
	}
}

@media screen and (min-width: 600px) {
	.text_listen a, .text_watch a, .text_read a {
		font-size: 2em;
	}
}

@media screen and (min-width: 800px) {
	.text_listen a, .text_watch a, .text_read a {
		font-size: 3em;
	}
}

@media screen and (min-width: 1000px) {
	.text_listen a, .text_watch a, .text_read a {
		font-size: 4em;
	}
	.sky {
		height: 200%;
	}
}

@media screen and (min-width: 1500px) {
	.text_listen a, .text_watch a, .text_read a {
		font-size: 7em;
	}
}

@media screen and (max-width: 800px) {
	.sky {
		height: 70%;
	}
}